hudson.ExtensionFinder$Sezpoz.scout Failed to scout org.jenkinsci.plugins.workflow.steps.scm.GenericSCMStep$DescriptorImpl
[mysql]
host=mysql-master
user=mysql
port=3306
socket=/data/mysqldata/mysqld.sock

[mysqld]
server-id=166
port=3306
socket=/data/mysqldata/mysqld.sock
user=mysql
character_set_server=utf8
max_connections=800
max_connect_errors=1000
datadir=/data/mysqldata
transaction_isolation=READ-COMMITTED
join_buffer_size=134217728
tmp_table_size=67108864
tmpdir=/tmp
max_allowed_packet=16777216
interactive_timeout=3600
wait_timeout=3600
read_buffer_size=16777216
read_rnd_buffer_size=33554432
sort_buffer_size=33554432
skip-name-resolve=1
log_error=/data/mysqllog/error.log
slow_query_log=1
slow_query_log_file=/data/mysqllog/slow.log
log_queries_not_using_indexes=1
log_slow_admin_statements=1
log_slow_slave_statements=1
log_throttle_queries_not_using_indexes=10
expire_logs_days=15
long_query_time=0.05
min_examined_row_limit=100
master_info_repository=TABLE
relay_log_info_repository=TABLE
log-bin=/data/mysqlbinlog/mysql-bin
sync_binlog=1
log_slave_updates
binlog_format=row
relay_log=/data/mysqlrelaylog/relay-bin
relay_log_recovery=1
slave_skip_errors=ddl_exist_errors
innodb_buffer_pool_size=4G
innodb_buffer_pool_instances=8
innodb_buffer_pool_load_at_startup=1
innodb_buffer_pool_dump_at_shutdown=1
innodb_lru_scan_depth=2000
innodb_lock_wait_timeout=5
innodb_io_capacity=2000
innodb_io_capacity_max=4000
innodb_flush_method=O_DIRECT
innodb_log_group_home_dir=/data/mysqlredolog/
innodb_undo_directory=/data/mysqlundolog/
innodb_undo_logs=128
innodb_undo_tablespaces=3
innodb_flush_neighbors=1
innodb_log_file_size=4G
innodb_log_buffer_size=16777216
innodb_purge_threads=4
innodb_large_prefix=1
innodb_thread_concurrency=64
innodb_print_all_deadlocks=1
innodb_strict_mode=1
innodb_sort_buffer_size=67108864
sql_mode=STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION
innodb_data_file_path=ibdata1:4096M:autoextend
innodb_data_home_dir=/data/mysqldata
plugin_load=rpl_semi_sync_master=semisync_master.so;rpl_semi_sync_slave=semisync_slave.so
loose_rpl_semi_sync_master_enabled=1
loose_rpl_semi_sync_slave_enabled=1
loose_rpl_semi_sync_master_timeout=5000
innodb_buffer_pool_dump_pct=50
innodb_page_cleaners=4
innodb_undo_log_truncate=1
innodb_max_undo_log_size=2G
innodb_purge_rseg_truncate_frequency=128
log_timestamps=system
transaction_write_set_extraction=MURMUR32
show_compatibility_56=ON
innodb_flush_log_at_trx_commit=1

#当链接数耗尽，通过设置别用端口，让root可以登录
extra_max_connections=2
extra_port=13306

innodb_monitor_enable=all
performance_schema=ON
#query_response_time_stats=ON


#performance_schema
performance_schema_consumer_events_waits_current=on
performance_schema_consumer_events_stages_current=on
performance_schema_consumer_events_statements_current=on
performance_schema_consumer_events_waits_history=off
performance_schema_consumer_events_stages_history=off
performance_schema_consumer_events_statements_history=off
performance_schema_max_table_instances = 5120
performance_schema_max_thread_instances = 8192
performance_schema_events_stages_history_long_size=10000
performance_schema_accounts_size = 100
performance_schema_digests_size = 10000
performance_schema_events_stages_history_long_size=10000
performance_schema_events_stages_history_size=10
performance_schema_events_statements_history_long_size=10000
performance_schema_events_statements_history_size=10
performance_schema_events_waits_history_long_size=10000
performance_schema_events_waits_history_size=10


#thread
thread_handling = pool-of-threads
thread_pool_oversubscribe = 10
thread_pool_max_threads = 100000
thread_pool_stall_limit = 30


##### Replication #####
replicate-ignore-db                                           = mysql
replicate-ignore-db                                           = information_schema
replicate-ignore-db                                           = performance_schema
replicate-ignore-db                                           = sys
replicate-ignore-db                                           = undolog
replicate-ignore-db                                           = for_nagios
replicate_wild_ignore_table                                    = mysql.%
replicate_wild_ignore_table                                    = information_schema.%
replicate_wild_ignore_table                                    = performance_schema.%
replicate_wild_ignore_table                                    = sys.%
log-slave-updates = ON

master-info-repository               = TABLE                    ###Slave配置需要
relay-log-info_repository            = TABLE                    ###Slave配置需要
binlog-format                        =ROW                       ####Slave配置需要
gtid-mode                            = on                       ###开启GTID需要
enforce-gtid-consistency             = true                     ###开启GTID需要
binlog-checksum = CRC32
master-verify-checksum = 1
